<!DOCTYPE html>
<html lang="en">
    {{template "head"}}
    <body>
        {{template "menu"}}
        <header class="jumbotron jumbotron-fluid">
            <div class="container-fluid text-center">
                <h1 class="display-3">Phantom</h1>
                <p class="lead pb-4">An inexpensive solution to self hosting masternodes.</p>
                <p><a href="/faq" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
            </div>
        </header>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cheap</h4>
                            <p class="card-text">Phantom nodes do not require a static IP address to operate, which means that dishing out costs for extra IPs are a thing of the past!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Lightweight</h4>
                            <p class="card-text">The Phantom daemon and hosting solution are super lightweight, they can even operate on a Raspberry Pi or another low powered device!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Open Source</h4>
                            <p class="card-text">Everything you see here is available on <a href="https://github.com/jackkdev/phantom-hosting">GitHub</a> and written under the MIT License. Take a look around the workings of the platform!</p>
                        </div>
                    </div>
                </div>
            </div>
            {{template "footer"}}
        </div>
    </body>
</html>